<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
  name="description"
  content="Raymon typing nonsense on his blog">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Raymon Zutekouw</title>

  <link defer
    rel="stylesheet"
    href="https://cdn.statically.io/gh/dragonprojects/dragondesign/master/main.min.css"
    media="all"
  >
  <link defer rel="stylesheet" href="/css/general.css" media="all">
</head>
<body>
  <main>
    <nav>
      <a href="/">Home</a>|
      <a href="/posts">Posts</a>|
      <a href="/qa">QA</a>
    </nav>
    <header>
      <h1>Post listing</h1>
    </header>
    {{index}} 
</main>
</body>
</html>
